<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 5 | @ViewData["Title"]</title>
    <link href="~/css/common.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/auth.css" rel="stylesheet" asp-append-version="true">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/validators.js" asp-append-version="true"></script>
</head>
<body>
<div id="wrapper">
    <h2>@ViewData["Title"]</h2>
    @RenderBody()
</div>
</body>
<partial name="_ValidationScriptsPartial"/>
</html>