<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>APE | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
@await Component.InvokeAsync("Nav")
<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>
<partial name="_ValidationScriptsPartial"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>