@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_AuthLayout";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="input-wrapper">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>

    </div>
    <div class="input-wrapper">
        <input type="submit" id="submit-button" value="Forgot Password"/>
    </div>
</form>
<div>
    <p>
        <a asp-page="./Login">Never mind, log in</a>
    </p>
</div>