@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_AuthLayout";
}

<form id="account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="input-wrapper">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <label asp-for="Input.Email" class="form-label">Email</label>
        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
    </div>
    <div class="input-wrapper">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <label asp-for="Input.Password" class="form-label">Password</label>
        <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password"/>
    </div>
    <div class="checkbox">
        <input asp-for="Input.RememberMe"/>
        <label asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
    </div>
    <div class="input-wrapper">
        <input type="submit" id="submit-button" value="Log in"/>
    </div>
</form>
<div>
    <p>
        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
    </p>
    <p>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
    </p>
</div>