@import "vars.css";

main {
    padding: 10px;
}

table {
    width: 100%;
}

thead th {
    background: var(--header-background);
}

tr > td:last-of-type {
    a {
        display: inline;
    }
}

tr {
    border-bottom: 1px solid var(--contrast-background);
}

hr {
    height: 1px;
    background-color: var(--contrast-background);
    border: none;
}

.form-group {
    margin-top: 8px;
}

dt {
    font-weight: bold;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--header-background);
    padding: 15px 12px;
    gap: 2px;
}

nav>* {
    display: block;
}

nav>div {
    float: right;
    display: flex;
    width: 35%;
    min-width: fit-content;
    flex-direction: row;
    justify-content: end;
}

nav h1 {
    color: black;
}

nav>div>a, nav>div>a:visited {
    text-decoration: underline;
    color: black;
    gap: 6px;
    padding: 1px 4px;
}

nav>div>a:hover {
    cursor: pointer;
}

.danger-text {
    color: red;
}